body
  background rgb(255, 255, 255)

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4
  font-family 'Scada', 'Roboto', 'Helvetica', 'Arial', sans-serif
  font-weight 400

.str-truncated
  display inline-block
  max-width 60%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  vertical-align top

.text-middle
  display inline-block
  vertical-align middle

.text-middle
  .material-icons
    vertical-align middle

.table-middle td, .table-middle th
  vertical-align middle !important
  font-size 16px

.card-number
  color rgb(51, 51, 51)
  font-size 32px


