.loginBlock__head
  padding 5px 19px 10px 19px
  border-bottom 1px solid #d1d1d1
.loginBlock__form
  button
    & + a
      margin-left 15px
.loginBlock__social
  a
    padding-left 35px !important
    &.fb
      background url('/assets/img/app/main/icons/facebook.svg') no-repeat 5px 3px
      background-size 24px auto
    &.vk
      background url('/assets/img/app/main/icons/vk.svg') no-repeat 5px 3px
      background-size 24px auto
    &.ya
      background url('/assets/img/app/main/icons/ya.png') no-repeat 5px 5px
      background-size 20px auto
    &.mru
      background url('/assets/img/app/main/icons/mail-ru.svg') no-repeat 5px 3px
      background-size 24px auto