.communityList
  list-style none
.communityList__item
  line-height 22px
  .badge
    position relative
    bottom 18px
    font 13px font-bold
  .body
    padding-top 16px
    a
      font-size title-font-size

.profile__head
  span
    &.label-orange
      background-color main-color
  div
    &.bonuses
      font-size 35px
      font-weight bold
      position absolute
      bottom 0
      @media (min-width: 768px)
        font-size 18px
      @media (min-width: 992px)
        font-size 20px
      @media (min-width: 1200px)
        font-size 30px
  

.profile__info
  margin-top 20px
  padding-top 15px
  border-top 1px solid border-color
  font-size 20px
  @media (min-width: 768px)
    font-size 13px
  @media (min-width: 992px)
    font-size 13px
  @media (min-width: 1200px)
    font-size 16px
  p
    i
      margin-right 10px
.profile__tail
  margin-top 20px

.userInfo__content
  .tab-pane
    & > div
      padding 20px 15px
    .well
      background-color #fff

.userInfo__tabs
  li
    .badge
      margin-top -3px
