@font-face
  font-family 'ProximaNova-Reg'
  src url('/assets/fonts/ProximaNova-Reg.eot')
  src url('/assets/fonts/ProximaNova-Reg.woff') format('woff'), url('/assets/fonts/ProximaNova-Reg.ttf') format('truetype'), url('/assets/fonts/ProximaNova-Reg.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'ProximaNova-Bold'
  src url('/assets/fonts/ProximaNova-Bold.eot')
  src url('/assets/fonts/ProximaNova-Bold.woff') format('woff'), url('/assets/fonts/ProximaNova-Bold.ttf') format('truetype'), url('/assets/fonts/ProximaNova-Bold.svg') format('svg')
  font-weight bold
  font-style normal

body
  background #f5f5f5
  color #212224
  font font-size/18px font-reg
  font-weight 400
  position relative

h1
  font 28px font-bold

h2
  display block
  font 22px font-bold
  font-weight 700
  margin-top 10px
  &.rev
    padding-left 50px
    background url('/assets/img/app/main/hdrs/hreviews.png') no-repeat 0 50%
  &.pen
    padding-left 50px
    background url('/assets/img/app/main/hdrs/hpen.png') no-repeat 0 50%
  &.afisha
    padding-left 50px
    background url('/assets/img/app/main/hdrs/hafisha.png') no-repeat 0 50%
  &.perc
    padding-left 50px
    background url('/assets/img/app/main/hdrs/hdisc.png') no-repeat 0 50%
  &.rupor
    padding-left 50px
    background url('/assets/img/app/main/hdrs/hrupor.png') no-repeat 0 50%
  &.news
    padding-left 50px
    background url('/assets/img/app/main/hdrs/hnews.png') no-repeat 0 50%
  &.top
    padding-left 50px
    background url('/assets/img/app/main/hdrs/htop.png') no-repeat 0 50%
  &.seminar
    padding-left 50px
    background url('/assets/img/app/main/hdrs/seminar.png') no-repeat 0 50%
  &.exhibition
    padding-left 50px
    background url('/assets/img/app/main/hdrs/vistavki.png') no-repeat 0 50%
  em
    font-family font-reg
    font-weight 400
    color #787c92
  a
    text-decoration none
    &:hover
      text-decoration none
      color #0e345b
      border-bottom none

h3
  display block
  font-size 12px
  text-transform uppercase
  color #999

a
  color #0e345b
  text-decoration none
  border-bottom 1px solid #b4ccdf
  &.dashed
    border-bottom 1px dashed border-color
  &.no-border
    border-bottom none
  &:hover
    text-decoration none
    color #0e345b
    border-bottom none

ul
  list-style none
  padding 0

strong
  font-family font-bold
  font-weight 700


form
  input
    &.form-control
      border 1px solid border-color
      border-radius(4px)
      width 90%
  select
    &.form-control
      border 1px solid border-color
      background #fff url('/assets/img/app/main/sdd.png') no-repeat 100% 15px
      text-decoration none
      color #777
      padding 5px 37px 7px 10px
      font-size 14px
      width auto
      -webkit-appearance none
      -moz-appearance none
      appearance none
      &::-ms-expand
        display none

time
  color #777
  font-size 12px
  display block

.badge
  background-color #ffffff
  color #000000
  border 2px solid main-color

.no-padding
  padding 0 !important

.std-block
  padding 19px
  background #fff
  border 1px solid border-color
  border-radius(1px)
  & + .std-block
    margin-top 20px

.panel-heading
  background-color #fff !important

.btn-orange
  background none repeat scroll 0 0 main-color
  border 0 none
  border-radius(3px)
  color #fff
  display inline-block
  font 700 11px/28px font-bold !important
  height 26px
  padding 0 13px
  text-transform uppercase
  cursor pointer
  &:disabled
    opacity 0.3
  &:hover
    background #f86b2d
    color #fff

.after-news
  margin-top 30px
  a
    font-size 11px
    line-height 28px
    color #7a7a7a
    background #dedede
    border 0
    border-radius(3px)
    text-transform uppercase
    padding 1px 15px
    @media (max-width 760px)
      width 100%
      font-weight bold

.tagsBlock
  padding 0
  @media (min-width: 768px)
    padding-top 5px
  @media (min-width: 992px)
    padding-top 0
  @media (min-width: 1200px)
    padding-top 0
  .tagsBlock__item
    background url("/assets/img/app/icons/tag.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0)
    border 0 none
    color #666
    display inline-block
    margin-left 5px
    padding-left 20px

.personsBlock
  .personsBlock__item
    margin-left 10px

.socialBlock
  a
    height 30px
    width 30px
    border none
    margin-top -7px
    &.facebook
      background url("/assets/img/app/social.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
    &.vk
      background url("/assets/img/app/social.png") no-repeat scroll -31px 0 rgba(0, 0, 0, 0)
    &.twitter
      background url("/assets/img/app/social.png") no-repeat scroll -62px 0 rgba(0, 0, 0, 0)
    &.mail
      background url("/assets/img/app/social.png") no-repeat scroll -92px 0 rgba(0, 0, 0, 0)
    &:hover
      background-position-y -30px

.subscribeBlock
  margin-top 31px
  font-size 13px
  color rgb(119, 119, 119)
.subscribeBlock__buttons
  a
    display inline-block
    width 21px
    height 20px
    border-bottom none
    &.share
      background url("/assets/img/app/share-btns.png") no-repeat scroll -38px 0 transparent
    &.twitter
      background url("/assets/img/app/share-btns.png") no-repeat scroll -19px 0 transparent
    &.mail
      background url("/assets/img/app/share-btns.png") repeat scroll 0 0 transparent
    &:hover
      background-position-y -20px

.pagination
  height 70px
  overflow hidden
  overflow-x auto
  white-space nowrap
  padding 0
  span
    &.pagination__pagenum
      color #ffffff
      background-color #3b3d3e
      border 2px solid #3b3d3e
.pagination__pagenum
  background #fff
  font-size 14px
  display inline-block
  text-align center
  vertical-align middle
  border 1px solid #bbb
  border-radius(4px)
  width 36px
  height 36px
  padding-top 9px
  box-sizing border-box
.pagination__button
  background #fff
  font-size 14px
  display inline-block
  text-align center
  vertical-align middle
  border 1px solid #bbb
  border-radius(4px)
  width 90px
  padding 9px
  box-sizing border-box
.pagination__button__active
  color #ffffff
  background-color #3b3d3e
  border 2px solid #3b3d3e

.infoBlock
  margin-top 15px
  h3
    margin-bottom 15px
    font 22px font-bold
    font-weight bold
    color #000000
    text-transform none
  p
    font 14px/19px font-content
    color #212224

.header
  padding 10px 0 15px 0
  font-family font-reg
  background #fff
  .container
    padding 0

.logo
  background url(/assets/img/app/logo.png) no-repeat 0 0
  border none
  height 43px
  margin-top 10px
  text-indent -9999px
  width 183px

.selector__hidden
  display none
.citySelector
  margin-top 23px
.citySelector__text
  margin-right 5px
.citySelector__dropdown
  font-family font-bold
  font-size 15px
  background url(/assets/img/app/main/sdd.png) no-repeat 100% 7px
  cursor pointer
  padding-right 19px
  top 0
  position relative
  float right
  left -31px
  @media (min-width: 768px)
    left -21px
  @media (min-width: 1200px)
    left -31px
  .nav
    .dropdown
      &.open
        & > a
          background-color #fff !important
          border none !important
          color #fb7c41 !important
      &:hover
        & > a
          background-color #fff !important
          border-color #b4ccdf !important
          color #fb7c41 !important
.citySelector__link
  padding 0 !important
  color #fb7c41
  border-bottom 1px dashed #b4ccdf
  z-index 101
  &:hover
    color #fb7c41 !important
.citySelector__selector
  position absolute
  z-index 100
  top -9px
  left -11px
  width 200px
  padding 38px 0 10px
  background #fff
  border-radius 5px !important
  box-shadow 0 0 12px rgba(0, 0, 0, .5)
  li
    line-height 22px
    padding 0 10px
    &.selected
      display none
    &:hover
      background main-color
      a
        color #fff
    a
      color #0f345a
      border-bottom none
      font 13px font-reg


.header__loggedBlock
  text-align right
  float right
  padding-right 0
  margin-top -5px
  img
    width 50px
    height 50px
    margin 15px 0 0 10px
    padding 0
  .info
    padding 15px 0
    line-height 1
  .sdd.png
    display inline-block
    font-size 16px
    color main-color
  .info__profile
    color main-color
    font-size 16px
  .info__name
    display block
    margin 6px 0 2px
    font-size 10px
    color #999
  .info__exit
    display inline-block
    font-size 10px
    color #0f345a
    border 0
  .icons
    margin 30px 10px 0 0
    padding 0
    a
      border 0
      color main-color
      font-size 25px
      line-height 1
      margin-left 15px
.header__userBlock
  margin-top 10px
  text-align right
  a
    display: inline-block
    height: 34px
    padding: 0 20px
    font: 11px font-bold
    font-weight: 700
    line-height: 36px
    text-transform: uppercase
    color: #fff
    background: #c4c2c0
    border: 0
    border-radius(3px)
    & + a
      margin-left 5px
    &:hover
      background: #aeabaa

.quick-search
  height 30px
  margin-top 15px
  border-bottom 1px solid #d8d8d8
  input
    box-sizing border-box
    position absolute
    width 210px
    height 30px
    background transparent
    border 0
    outline 0
    &[type="text"]
      padding 0 25px 0 5px
      font 14px font-reg
      color #666
      left 0
      ::-webkit-input-placeholder
        color rgba(0,0,0,0)
      ::-moz-placeholder
        color rgba(0,0,0,0)
      :-moz-placeholder
        color rgba(0,0,0,0)
      @media (min-width: 992px)
        width 150px
    &[type="submit"]
      right 5px
      top 7px
      width 17px
      height 17px
      background url('/assets/img/app/main/lens.png') no-repeat 0 0
      cursor pointer
      &:hover
        background-position 0 100%

#suggestions
  position relative
  float left
  width 500px
  margin-top 31px

.autocomplete-suggestions
  background-color #fff
  cursor pointer
  .autocomplete-suggestion
    line-height 20px
    margin 0 0 5px 5px

footer
  display block
  font-size 13px
  line-height 25px
  color #fff
  background #3b3d3e
  margin-top 30px
  @media (max-width 760px)
    text-align center
  .footerContainer
    padding 50px 0
    @media (max-width 760px)
      padding 20px 10px
    .footerContainer__logo
      margin-bottom 40px
      @media (max-width 760px)
        background rgba(0, 0, 0, 0) url("/assets/img/app/logo.png") no-repeat 50%
        background-size auto 100%
        height 45px
        margin-bottom 20px
      img
        @media (max-width 760px)
          display none
    .footerContainer__column
      & + .footerContainer__column
        padding-left 30px
        border-left 1px solid #323436
      .title
        margin-bottom 15px
        font 18px font-content
        font-weight 700
        color #fb7c41
      a
        color #f5f5f5
        border-bottom 1px solid #7a7b7b
      ul
        display block
        margin-bottom 15px
        line-height 20px
        & + .title
          margin-top 35px
        li
          list-style disc inside
          @media (max-width 760px)
            list-style none
            display inline-block
            margin-right 5px
            a
              @media (max-width 760px)
                border none
                color #fb7c41
          ul
            margin 8px 0 12px
            padding-left 15px
            list-style outside none none
      span
        margin-bottom 8px
        @media (max-width 760px)
          display none
        a
          color #ffb38f
          border 0
      .downloads
        margin-bottom 16px
        @media (max-width 760px)
          display none
        a
          display block
          margin-bottom 8px
          border 0
      .social
        overflow hidden
        margin-bottom 30px
        @media (max-width 760px)
          display none
        a
          margin-right 8px
          border 0
    .footerContainer__tail
      margin-top 20px
      font-size 12px
      color #9c9c9c
      background url('/assets/img/app/main/18+.png') no-repeat 100% 55%
      border-top 1px solid #323436
      padding 40px 100px 40px 0
      @media (max-width 760px)
        padding 0 5px
      a
        color #9c9c9c
        border-bottom 1px solid #595a5b
