.aside
  .sideBlock
    padding 24px 14px 29px
    background #fff
    border 1px solid border-color
    border-radius(1px)
    overflow hidden
    .sideBlock__header
      line-height 30px
      margin-bottom 20px
      font 22px font-bold
      font-weight bold
    & + .sideBlock
      margin-top 10px
  .sideBlock__news
    margin-top 20px
  & + .aside
    margin-top 10px