// Variables
// --------------------------

font-size = 14px

title-font-size = 18px

main-color = #f25916
border-color = #d1d1d1

font-reg = "ProximaNova-Reg", Arial, sans-serif
font-bold = "ProximaNova-Bold", Arial, sans-serif
font-content = 'PT Serif', Georgia, serif